<li>
	{{burger_name}}

	<button class="change-onMenu myBtn" data-id="{{id}}" data-newmenu="{{onMenu}}">
		<img class="imgBtn" src="assets/img/rbn-btn.png"><span>
		{{#if onMenu}}Return to Menu!{{else}}Order Me!{{/if}}
		</span>
	</button>

	<button class="delete-burger myBtn" data-id="{{this.id}}"><img class="imgBtn" src="assets/img/rbn-btn.png"><span>Throw Away</span></button>
</li>