<li>
	{{burger_name}}

	<button class="userSign" data-id="{{id}}">
		<img class="imgBtn" src="assets/img/rbn-btn.png">
		<span>
			{{user.customer_name}}
		</span>
	</button>

	<button class="vote-for myBtn" data-id="{{this.id}}"><img class="imgBtn" src="assets/img/rbn-btn.png"><span>{{votes}} Votes</span></button>
</li>